* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background {
    background-color: #0099cc;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-inline: 5%;
    border-radius: 10px;
}
  
.header {
    margin-top: 20px;
    margin-bottom: 20px;
}

  /* Add some padding inside the card container */
  .container {
    padding: 32px;
}

.inputparam {
    padding: 20px;
    font-weight: bold;
    font-size: xx-large;
}

.text-center {
    text-align: center;
}

.box {
    margin-top: 10px;
    flex: center;
}

/* Tooltip stuff (Thanks W3S: https://www.w3schools.com/css/css_tooltip.asp#:~:text=HTML%3A%20Use%20a%20container%20element,with%20class%3D%22tooltiptext%22%20.)*/

    /* Tooltip container */
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    }
    
    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        
        top: -5px;
        left: 105%;

        opacity: 0;
        transition: opacity 1s;
    
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }
    
    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }


 /*Mobile / smaller screen stuff */

@media (max-width: 960px) {
    .text {
        font-size: large;
    }
}

@media (max-width: 670px) {

}

@media (max-width: 530px) {
    .text {
        font-size: normal;
    }
}