.member-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.member-profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.member {
    text-align: center;
    margin: 0 10px;
    max-width: 240px;
    font-size: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    flex: 0 0 calc(20% - 20px);
}

.member img {
    display: none;
}

.member-row:first-child {
    justify-content: center;
}

.member-row:not(:first-child) .member {
    flex: 1;
}

@media (min-width: 768px) {
    .member-row {
        flex-wrap: wrap;
    }

    .member {
        flex: 0 0 calc(50% - 20px);
        margin: 0 10px 20px;
    }
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 100px 20px 20px;
    overflow: auto;
    background: whitesmoke;
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}



h1 {
    text-align: center;
}

p {
    font-family: "Times New Roman";
    color: black;
}

.center {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;


}

#mainimage {
    max-width: 60%;
    max-height: 60%;
}
