
.page-title {
    font-size: 100px;
    text-align: center;

}

@media (min-width: 720px) {
    .gradient {
        --size: 500px;
    }
}
body {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.65) ), url("indexBGnew.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    background-position: center;
    inset: 0;
    display: flex;
    place-content: center;
    align-items: center;
    overflow: hidden;

}


h1 {
    color: darkgrey;
    font-family: Helvetica;

}
h2 {
    font-family: Helvetica;
}