#customButton{
    padding: 5px;
    background-color: rgb(154, 192, 243);
    color:rgb(0, 0, 0) ;
    align-items: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 150px;
    height: 90px;
}

#customButton img{
    max-width: 50px;
    margin-right: 15px;
    vertical-align: middle;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

img {
    max-width: 100%;
}

label, textarea, button, select, input[type="checkbox"] {

    margin-bottom: 10px;
}

textarea, input[type="text"], input[type="email"], input[type="tel"], select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

button {
    background-color: #09c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Helvetica;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#output {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
*{
    font-family: Helvetica;
}

h1 {
    text-align: center;
}

body {
    background-image: linear-gradient(white, whitesmoke , lightgrey);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    cursor: default;
    position: relative;
}


