.navbar {

    align-items: center;
    overflow: hidden;
    background-color: #a0a0a1;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-image: linear-gradient(black, #151515, #262526, #151515, black);
    font-family: "Monaco";
    text-shadow: 1px 2px 2px #3f4748;

}


.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 10px;
    text-decoration: #1d689e;
    margin-left: 20px;

}

.navbar a:first-child {
    margin-right: 20px; /* Adjust the value as needed */
}

.navbar a:hover {
    background-color: #ddd;
    color: grey;
}

.dropdown {
    float: left;
    overflow: hidden;
    opacity: 95%;
}


.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: "Monaco";
    text-shadow: 1px 2px 2px #3f4748;
    margin: 0;
}

.navbar a:hover::before,
.dropdown:hover .dropbtn::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    z-index: 1;
    border-radius: 20px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #505050;
    color: white;
    position: relative;
    z-index: 2;
    text-shadow: 1px 1px 1px #757575;


}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #3a3a3a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: "Monaco";
    border-radius: 2px;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: "Monaco";
}

.dropdown-content a:hover {
    background-color: #d4d4d4;
    color: black;
    border-radius: 2px;
    padding: 10px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


label, textarea, button, select, input[type="checkbox"] {

    margin-bottom: 10px;
}

textarea, input[type="text"], input[type="email"], input[type="tel"], select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#output {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
*{
    font-family: Monaco;
}

h1 {
    text-align: center;
}

body {
    background-image: linear-gradient(white, whitesmoke , lightgrey);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}